/* general */

html {
    height: 100%;
    margin: 0;
}

body {
    color: #333;
    font-family: Merriweather, serif;
    height: 100%;
    margin: 0px 5px;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #999;
}


/* header/footer */

.site-header {
    border-bottom: 1px solid #ddd;
}

.site-footer {
    border-top: 1px solid #ddd;
    height: 30px;
}

.push {
    height: 31px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -31px;
}

header, footer, nav {
    width: 100%;
    text-align: center;
}

.links-list ul, .links-list li {
    display: inline-block;
    margin: 0px;
}

.links-list ul {
    padding: 5px 15px;
}

.links-list li {
    padding: 0px 5px;
}
