<header class="site-header">
    <nav class="links-list site-nav">
        <ul>
            <li>pronouns:</li>
            <li><a href="/">this</a></li>
            <li><a href="/about/">me</a></li>
        </ul>
        <ul>
            <li>nouns:</li>
            <li><a href="/code/">code</a></li>
            <li><a href="/math/">math</a></li>
            <li><a href="/ballot/2025-11/">ballot</a></li>
        </ul>
        <ul>
            <li>verbs:</li>
            <li><a href="mailto:{{ site.email }}">email</a></li>
            <li><a href="https://twitter.com/bnkrft">tweet</a></li>
            <li><a href="https://github.com/benjaminjkraft">fork</a></li>
            <li><a href="/feed/">subscribe</a></li>
        </ul>
    </nav>
</header>
