<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather">
    
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
