<header class="site-header">

    <nav class="links-list site-nav">
        <ul>
            <li>pronouns:</li>
            <li><a href="/">this</a></li>
            <li><a href="/about/">me</a></li>
        </ul>
        <ul>
            <li>nouns:</li>
            <li><a href="/code/">code</a></li>
            <li><a href="/objects/">objects</a></li>
            <li><a href="/people/">people</a></li>
            <li><a href="/classes/">classes</a></li>
        </ul>
        <ul>
            <li>verbs:</li>
            <li><a href="mailto:ben@benkraft.org">email</a></li>
            <li><a href="//github.com/benjaminjkraft">fork</a></li>
            <li><a href="/feed.xml">subscribe</a></li>
        </ul>
    </nav>
</header>
